@charset "UTF-8";

#wrap{
	width:971px; /* 1024 * 769로 해상도 맞추어서 설계 */
	margin:0;
	margin-left:auto;
	margin-right:auto;
}

h1{
	color:green;
}

table {
	wigth:100%;
	border-collapse:collapse;
	font-size:12px;
	line-height:24px;
}

table td,th{
	border:#d3d3d3 solid 1px;
	padding: 5px;
}

th{
	background:yellowgreen;
}

img{
	width:220px;
	height:300px;
}

a{
	text-decoration:none;
	color:black;
}

a:hover{
	text-decoration:underline;
	color:green;
}